<div class="container d-flex-column u-padding-medium h-100vh">
  <div
    class="text-center"
    style="
      background: radial-gradient(
        50% 109137.91% at 50% 50%,
        rgba(233, 30, 99, 0.1) 0%,
        rgba(254, 244, 247, 0) 100%
      );
    "
  >
    <strong class="bg-white text-pink-500 font-bold text-2xl inline-block px-3">404</strong>
  </div>
  <h1 class="u-margin-top-medium">Requested page was not found</h1>
  <p class="text-700 text-3xl mt-0 mb-6 text-center">We are sorry, but this page doesn't exist.</p>
  <div class="u-margin-top-small">
    <button mat-flat-button type="button" color="accent" [routerLink]="['/j']">
      <span class="p-button-icon p-button-icon-left pi pi-home" aria-hidden="true"></span
      ><span class="p-button-label">Back</span><span class="p-ink"></span>
    </button>
  </div>
</div>
